{% extends 'base.html' %}

{% load static %}

{% block content %}
<section>
    <div class="container mt-3">
        <legend class="border-bottom mb-4"><h2>{{cat | title}}</h2></legend>
        {% for post in posts %}
        <div class="media text-left">
            <div class="media-body">
                <p class="mb-2">{{post.author}} - {{post.date | timesince }} ago</p>
                <a href="{{post.get_absolute_url}}" target="_blank">
                    <h4 class="mb-0">{{post.title}}</h4></a>
                <br>
                {% if post.image %}
                    <a href="{{post.get_absolute_url}}" target="_blank">
                        <img class="" src="{{post.image.url}}" alt="Generic placeholder image" width="700">
                    </a>
                {% else %}
                    <div>
                        <video width="700" controls="controls" >
                            <source src="{{post.video.url}}" type="video/mp4"/>
                        </video>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
        {% endfor %}
</section>
<style>
    img {
        width:;
    }
</style>
{% endblock content %}